.Header{
    color: #FFFFFF;
}

.header_top_box{
    position: absolute;
    width: 1080px;
    height: 70px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    /* background: #0000; */
    background: #C80F2E;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

.header_botom_box{
    position: absolute;
    width: 1080px;
    height: 235px;
    left: 0px;
    top: 0px;
    z-index: 950;
    /* background: black; */
    background: #CF112B;
}

.fecha_header_top{
    position:   absolute;
    width:      481px;
    height:     47px;
    left:       47px;
    top:        12px;

    font-family:    'Roboto';
    font-style:     normal;
    font-weight:    500;
    font-size:      25px;
    line-height:    47px;
    /* identical to box height */

}

.border_top{
    position:   absolute;
    width:      37px;
    height:     0px;
    left:       855px;
    top:        35px;
    border: 3px solid rgba(0, 0, 0, 0.13);
    filter: blur(1px);
    transform: rotate(90deg);
}

.hora_header_top{
    float: right;
    position: absolute;
    width: 109px;
    height: 64px;
    left: 925px;
    /* left: 838px; */
    top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 117px;
    display: flex;
    align-items: center;
    text-align: center;
}

.mendotran_logo{
    position:   absolute;
    width:      542px;
    height:     115px;
    left:       3%;
    top:        40%;
}

.clima{
    /* background-color: black; */
    float:      right;
    position:   absolute;
    width:      auto;
    height:     59px;
    left:       910px;
    top:        67px;

    text-align:     center;
    font-family:    'Roboto';
    font-style:     normal;
    font-weight:    500;
    font-size:      40px;
    line-height:    20px;
}

.icon_clima{
    height:         120px;
    width:          120px;
    padding:        0;
    margin-left:    23px;
}

.temp_clima{
    position:   absolute;
    width:      71px;
    height:     42px;
    left:       39px;
    top:        55px;

    font-family:    'Roboto';
    font-style:     normal;
    font-weight:    500;
    font-size:      40px;
    line-height:    47px;
    text-align:     right;
}