.Header{
    color: #FFFFFF;
}

.header_top_box{
    position: absolute;
    width: 1080px;
    height: 80px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background: #C80F2E;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

.header_botom_box{
    position: absolute;
    width: 1080px;
    height: 255px;
    left: 0px;
    top: 0px;
    z-index: 950;
    background: #CF112B;
}

.fecha_header_top{
    position:   absolute;
    width:      481px;
    height:     47px;
    left:       45px;
    top:        20px;

    font-family:    'Roboto';
    font-style:     normal;
    font-weight:    500;
    font-size:      30px;
    line-height:    47px;
    /* identical to box height */

}

.border_top{
    position:   absolute;
    width:      64px;
    height:     0px;
    left:       830px;
    top:        40px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    transform: rotate(90deg);
}

.hora_header_top{
    float: right;
    position: absolute;
    width: 109px;
    height: 64px;
    left: 900px;
    /* left: 838px; */
    top: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 117px;
    display: flex;
    align-items: center;
    text-align: center;
}

.mendotran_logo{
    position:   absolute;
    width:      567px;
    height:     135px;
    left:       3%;
    top:        39%;
}

.clima{
    /* background-color: black; */
    float:      right;
    position:   absolute;
    width:      auto;
    height:     59px;
    left:       910px;
    top:        80px;

    text-align:     center;
    font-family:    'Roboto';
    font-style:     normal;
    font-weight:    500;
    font-size:      40px;
    line-height:    20px;
}

.icon_clima{
    height:         120px;
    width:          120px;
    padding:        0;
    margin-left:    17px;
}

.temp_clima{
    position:   absolute;
    width:      71px;
    height:     42px;
    left:       30px;
    top:        55px;

    font-family:    'Roboto';
    font-style:     normal;
    font-weight:    500;
    font-size:      40px;
    line-height:    47px;
    text-align:     right;
}